.app-alert-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background: rgba(0, 0, 0, 0.4);

  animation: fadeIn 250ms;
}

.app-alert-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px 30px 20px 30px;
  border-radius: 8px;

  background: white;
  animation: 250ms fadeIn linear 250ms both;
}

.app-alert-container > h2 {
  margin: 0 0 20px 0;

  font-weight: 500;

  /* color: #555; */
  color: #262626;
}

.app-alert-actions > button {
  padding: 10px 16px;

  font-size: 1rem;

  border: 0;
  border-radius: 4px;
  color: #fff;
  background: #7066e0;

  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

/*
  Classe aplicada dinamicamente ao body.
  Ela adequa o comportamento da página quando
  o alerta está aberto, por exemplo, impede a rolagem.
*/
.alerts-shown {
  overflow: hidden;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
