.app-alert-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;

  background: rgba(0, 0, 0, 0.6);

  animation: fadeIn 250ms;
}

.app-alert-container {
  flex: 1;
  background: white;

  border-radius: 8px;

  animation: 250ms fadeIn linear 250ms both;
}

/*
  Classe aplicada dinamicamente ao body.
  Ela adequa o comportamento da página quando
  o alerta está aberto, por exemplo, impede a rolagem.
*/
.alerts-shown {
  overflow: hidden;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
