.hangman-game-container {
  background-color: #282c34;
}

.game-doll-wrapper {
  color: white;
}

.secret-word-container {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  min-height: 40px;
  margin: 16px 0px;

  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color: white;
}

.secret-word-container > span {
  display: inline-block;
  padding: 4px;

  min-width: 1ch;

  border-bottom: 2px solid currentColor;
}
